@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #ccc;
  --logo-color: #f16829;
}

.dark {
  --primary-color: #fff;
  --secondary-color: #000;
  --bg-color: #000;
  --text-color: #fff;
  --border-color: #444;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1400px;
  margin: 3rem auto;
  margin-bottom: 12rem;
  padding: 0 3rem;
}

.heading-xl {
  @apply text-[40px] md:text-[120px] lg:text-[80px] font-bold tracking-tight leading-none;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
    margin-bottom: 6rem;
  }
}



/* TEMP */
/* ContactCTA.module.css */
.buttonLight {
  position: absolute;
  inset: -4px;
  border-radius: 8px;
  background: conic-gradient(
    from 0deg at 50% 50%,
    transparent 0deg,
    transparent 270deg,
    rgba(255, 255, 255, 0.8) 315deg,
    transparent 360deg
  );
}

.gridBackground {
  background-size: 50px 50px;
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

/* Hover effects */
.button:hover .buttonLight {
  animation: rotateBorder 3s linear infinite;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}